<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav th:fragment="cabecalho" class="navbar">
    <div class="container">
        <a th:href="@{/}" class="logo-text">
            <img th:src="@{/images/logo-conecta-arena.png}" alt="Logo" class="logo-img">
            <div class="brand-text">CONECTA<span>ARENA</span></div>
        </a>

        <ul class="navbar-nav">
            <li>
                <a class="nav-link" th:href="@{/}"
                   th:classappend="${paginaAtiva == 'home' ? 'active' : ''}">Home</a>
            </li>
            <li><a class="nav-link" href="#">Sobre</a></li>
            <li>
                <a class="nav-link" th:href="@{/eventos}"
                   th:classappend="${paginaAtiva == 'eventos' ? 'active' : ''}">Eventos</a>
            </li>
            <li><a class="nav-link" href="#">Sugestões</a></li>
        </ul>

    </div>
    <div class="navbar-actions">
        <a href="#" class="btn login-link">Login</a>
        <a href="#" class="btn cadastro-link">Cadastre-se</a>
    </div>
</nav>

</body>
</html>